[submodule "themes/PaperMod"]
	path = blog/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/CleanWhite"]
	path = blog/themes/CleanWhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite
